{% extends 'home.twig.html' %}
{% block title %} lista de Solicitud {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Agregar Solicitud</h1>
          <div class="table-responsive">
	<form action = "savesolicitud" method = POST >
		<table class="table table-striped">
			<tbody>
				<tr>
					<td> Nombre del material </td>
					<td><input type = "text" name = "Material" value = "{{Solicitud.Material}}" /></td>
				</tr>
				<tr>
					<td> CANTIDAD </td>
					<td><input type = "text" name = "Cantidad" value = "{{Solicitud.Cantidad}}" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type = "submit" value = "SaveSolicitud" />
		<input type = "button" value = "Cancel" onclick = "history.back();" />
	</form>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}