{% extends 'home.twig.html' %}
{% block title %} Agregar nuevo material {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Agregar nuevo Material </h1>
          <div class="table-responsive">
	<form action = "SaveMaterial" method = "POST" >
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><input type = "hidden" name = "id" value = "{{Material_almacen.id}}" /></td>
				</tr>
				<tr>
					<td> Nombre del material</td>
					<td><input type="text" name="name" value="{{Material_almacen.name}}" /></td>
				</tr>
				<tr>
					<td> Precio Unitario</td>
					<td><input type = "text" name = "precio_unitario" value = "{{Material_almacen.precio_unitario}}" /></td>
				</tr>
				<tr>
					<td> Nombre Prooveedor</td>
					<td><input type="text" name="nombre_proveedor" value="{{Material_almacen.nombre_proovedor}}" /></td>
				</tr>
				<tr>
					<td> fecha de ingreso</td>
					<td><input type="text" name="fecha_ing" value="{{Material_almacen.fecha_ing}}" /></td>
				</tr>
				<tr>
					<td> fecha de egreso</td>
					<td><input type="text" name="fecha_egr" value="{{Material_almacen.fecha_egr}}" /></td>
				</tr>
				<tr>
					<td> Capacidad</td>
					<td><input type="text" name="capacidad" value="{{Material_almacen.capacidad}}" /></td>
				</tr>
			</tbody>	
		</table>
			<input type="submit" value="Save" />
			<input type="button" value="Cancel" onclick="history.back();" />	
		
	</form>
		  </div>
	    </div>
	  </div>
	</div>
{% endblock %}