{% extends 'home.twig.html' %}
{% block title %} lista de Solicitud {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Agregar Persona</h1>
          <div class="table-responsive">
	<form action="person" method="POST">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="hidden" name="id" value="{{person.id}}" />{{person.id}}</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><input type="text" name="firstName" value="{{person.firstName}}" /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="lastName" value="{{person.lastName}}" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="history.back();" />
		</div>
	    </div>
	  </div>
	</div>
{% endblock %}