{% extends 'home.twig.html' %}
{% block title %} Borrado de material {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Borrar material</h1>
          <div class="table-responsive">
	<form action = "BorrarMaterial?id={{Material_almacen.id}}"  method = "POST" >
		<table class="table table-striped">
			<tbody>
				<tr>{{ Material_almacen.id }}</tr>
				<tr>{{ Material_almacen.name }}</tr>
				<tr>{{ Material_almacen.nombre_proveedor }}</tr>
				<tr>{{ Material_almacen.precio_unitario }}</tr>

			</tbody>
		</table>
		<input type = "submit" value = "borrar" />
	</form>
		  </div>
	    </div>
	  </div>
	</div>
{% endblock %}