{% extends 'layout.twig.html' %}
{% block title %}Almacen{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="person">People</a></li>
            <li><a href="account">Accounts</a></li>
            <li><a href="transfer">Transfer</a></li>
            <li><a href ="solicitud">Solicitudes</a></li>
            <li><a href ="materiales?id=0">materiales</a></li>
          </ul>
        </div>
     </div>
</div>

{% endblock %}


