{% extends 'home.twig.html' %}
{% block title %} Opciones de Material {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Opciones de Material</h1>
	<ul>
		<li>
		  <a href = "Nuevo" > <h4> agregar un nuevo material </h4> </a> 
		</li>
		<li>
			<a href = "materiales?id=-1"> <h4> mostrar todos los materiales material </h4> </a>
		</li>
	</ul>
		</div>
      </div>
    </div>
	
	
{% endblock %}