{% extends 'home.twig.html' %}
{% block title %} lista de Solicitud {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Lista de personas</h1>
          <div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
	{% for person in people %}
			<tr>
				<td>{{ person.id }}</td>
				<td>{{ person.lastName }}</td>
				<td>{{ person.firstName }}</td>
				<td><a href="?id={{ person.id }}">See</a> | <a href="add-person?id={{person.id }}">Modify</a> </td>
			</tr>
	{% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-person">Add New Person</a>
</div>
        </div>
      </div>
    </div>
	
	
{% endblock %}
