{% extends 'home.twig.html' %}
{% block title %} lista de Solicitud {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Lista de personas</h1>
          <div class="table-responsive">
	<table class=="table table-striped">
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ person.id }}</td>
			</tr>
			<tr>
				<th>First Name</th>
				<td>{{ person.firstName }}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{ person.lastName }}</td>
			</tr>
        </tbody>
      </table>
      <br />
      <a href="add-person?id={{person.id}}">Modify</a> |<a href="add-person">Add New Person</a> | <a href="person">List All</a>

		  </div>
        </div>
      </div>
    </div>
	
	
{% endblock %}
