{% extends 'home.twig.html' %}
{% block title %} Lista de Materiales {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Lista de materiales</h1>
          <div class="table-responsive">
            <table class="table table-striped">
		<thead>
			<th>ID</th>
			<th>Nombre</th>
			<th>precio Unitario</th>
			<th>Capacidad</th>
			<th> Proveedor</th>
			<th>fecha de ingreso</th>
			<th>fecha de egreso</th>
		</thead>
		<tbody>
			{% for Material_almacen in MaterialActual %}
			
			<tr>
				<td>{{ Material_almacen.id }}</td>
				<td>{{ Material_almacen.name }}</td>
				<td>{{ Material_almacen.precio_unitario }}</td>
				<td>{{ Material_almacen.capacidad }}</td>
				<td>{{ Material_almacen.nombre_proveedor }}</td>
				<td>{{ Material_almacen.fecha_ing }}</td>
				<td>{{ Material_almacen.fecha_egr }}</td>
				<td> <a href = "materiales?id={{ Material_almacen.id }}"> borrar</a>
			</tr>
			{% endfor %}
		</tbody>
	</table>
		  </div>
        </div>
      </div>
    </div>
	
	
{% endblock %}