{% extends 'home.twig.html' %}
{% block title %} lista de Solicitud {% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Lista de solicitudes</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Material</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {% for Solicitud in solicitudes %}
				<tr>
				  <td>{{ Solicitud.id }}</td>
			 	  <td>{{ Solicitud.material}}</td>
				  <td>{{ Solicitud.cantidad }}</td>
				</tr>
				{% endfor %}
              </tbody>
            </table>
            <br>
			<a href = "add-solicitud">agregar solicitud</a>
          </div>
        </div>
      </div>
    </div>
	
	
{% endblock %}
